@font-face {
	font-family: 'Jubel';
	src: url('/public/fonts/Jubel/Jubel-Bold.ttf');
	font-weight: Bold;
	font-style: normal;
}

@font-face {
	font-family: 'Jubel';
	src: url('/public/fonts/Jubel/Jubel-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Jubel';
	src: url('/public/fonts/Jubel/Jubel-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'maagkramp';
	src: url('/public/fonts/maagkramp/maagkramp.ttf');
	font-weight: normal;
	font-style: normal;
}